.newinbox {
    border: 1px solid #f5f5f5;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    padding: 16px;
    flex-direction: column;
    border-radius: 16px;
}

.newinbox img {
    height: 172px;
}