.hero-section {}

.hero-section .container {
    background-color: #f5f5f5;
    border-radius: 16px;
    min-height: 500px;
    display: flex;
    align-items: center;
    padding: 40px;
    background: url(/public/images/banner-1.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.hero-section .overlay {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #000000 0%, #00000000 100%);
    z-index: 1;
}

.hero-inner {
    width: 40%;
    z-index: 2;
}

.hero-inner {}

.primary-btn {
    padding: 16px 24px;
    background: #FFFFFF;
    text-transform: uppercase;
    color: #000000;
    display: inline-block;
}

.hero-inner h1 {
    font-weight: 700;
    line-height: 56px;
    font-size: 48px;
    color: #FFFFFF;
}

.hero-inner p {
    color: #FFFFFF;
}

.hero-inner {}