.shopByCollection {}

.shopByCollection h2 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 800;

}

.shopByCollection .box {
    height: 200px;
    border-radius: 12px;
    background-color: #f5f5f5;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shopByCollection .box h4 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}