* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
}

p {
    padding-bottom: 16px;
    margin-bottom: 0 !important;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

[class*="col-"] {
    padding: 10px;
    box-sizing: border-box;
}

.col-1 {
    width: 8.3333%;
}

.col-2 {
    width: 16.6667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333%;
}

.col-5 {
    width: 41.6667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3333%;
}

.col-8 {
    width: 66.6667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3333%;
}

.col-11 {
    width: 91.6667%;
}

.col-12 {
    width: 100%;
}

/* spacing */

.s1 {
    padding: 80px 0;
}